* {
  box-sizing: border-box;
}

body {
  background-color: #1e2a63;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Karla", sans-serif;
  color: #293264;
}

main {
  background-color: #F5F7FB;
  height: 95vh;
  max-height: 700px;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.start--container {
  width: 100%;
  height: 100%;
  background-image: url("../Title-Background.svg");
  background-size: cover;
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
.quiz--container {
  width: 100%;
  height: 100%;
  background-image: url("../Background.svg");
  background-size: cover;
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
} */

.quiz--container {
  width: 100%;
  height: 100%;
  background-image: url("../Background.svg");
  background-size: cover;
  border-radius: 0.25rem;
  display: grid; /* Use grid layout */
  grid-template-rows: repeat(6, 1fr); /* Create 6 equal-height rows */
  padding: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  overflow-y: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.quiz--container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}


.quiz--title {
  font-size: 2rem;
}

.quiz--description {
  margin: 0;
  font-size: 1.25rem;
}

.start--btn {
  padding: 1.25rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin: 2rem;
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-family: "Karla", sans-serif;
  font-size: 1rem; 
  font-weight: 500;
  border: none;
  border-radius: 1rem;
}

.quiz--btn {
  max-width: 10rem;
  padding: .75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin: 1.5rem auto;
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-family: "Karla", sans-serif;
  font-size: 1rem; 
  font-weight: 500;
  border: none;
  border-radius: .5rem;
  align-self: center;
}

.score--container {
  display: flex;
  justify-content: center;
  place-items: center;
  margin: 0 2rem;
  gap: 2rem;
}

#restart--btn {
  margin: 1.5rem 0;
}